html, body {
  height: 100%;
}

body {
  font-size: 14px;
}
body.bg-img {
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
}
body.bg {
  background-color: #f2f6fa;
  overflow-x: hidden;
}
body.bg > .container {
  background: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
}
h1 svg {
  position: relative;
  top: 3px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

a svg {
  position: relative;
  top: 1px;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.logo span {
  font-weight: 700;
  font-size: 24px;
  color: #003E6B;
}

.box {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.box.cta p {
  margin-bottom: 0.5em;
}

.registration label, .login label {
  visibility: hidden;
  margin-bottom: 0;
}
.registration .form-group, .login .form-group {
  margin-bottom: 0;
}

header .menu-bg {
  background-color: #E9ECEF;
}
header .navbar-light .navbar-nav .nav-link {
  color: #003E6B;
}
header .navbar-light .navbar-nav .nav-link.active {
  font-weight: 700;
  color: #cf771b;
}
header .navbar-light .navbar-nav .nav-link:hover {
  color: #a7571a;
}
header .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0.75rem 1rem;
}

.balance h1 svg {
  position: relative;
  top: 3px;
}
.balance h2 {
  color: #003E6B;
}
.balance a:not([href]) {
  cursor: pointer;
}
.balance a.dropdown-toggle {
  font-weight: 700;
  color: #000;
}
.balance .table {
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.balance .table td:not(:first-child) {
  border-top: 1px solid #dee2e6;
}
.balance .table tr td:nth-child(3), .balance .table tr th:nth-child(3) {
  text-align: right;
}
.balance .table th {
  border-top: none;
}
.balance .table thead th {
  border-bottom: none;
}
.balance p.summary {
  font-size: 36px;
}
.balance .dropdown-item.active {
  background-color: #e28422;
}
.balance .dropdown-item.active:hover {
  background-color: #a7571a;
}
.balance .text-secondary span {
  color: #e28422;
}

.add-income h1, .add-expense h1 {
  font-size: 1.7rem;
}

.home .bg {
  background: url("../img/bg-home.jpg") no-repeat;
  background-size: cover;
}
.home .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home .logo {
  position: absolute;
  top: 10px;
  right: 20px;
}
.home.welcome h1 {
  font-size: 1.5rem;
}

.menu img {
  object-fit: contain;
  width: 100%;
  height: 400px;
}

blockquote p {
  font-size: 14px;
  font-style: italic;
}

.error {
  color: #ff0000;
  margin-top: 5px;
}

.add-income legend, .add-expense legend {
  background: #f2f6fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 50%;
}
.add-income fieldset, .add-expense fieldset {
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.add-income fieldset > div, .add-expense fieldset > div {
  height: 200px;
  overflow-y: auto;
}
.add-income fieldset > div::-webkit-scrollbar-track, .add-expense fieldset > div::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ebebeb;
}
.add-income fieldset > div::-webkit-scrollbar, .add-expense fieldset > div::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.add-income fieldset > div::-webkit-scrollbar-thumb, .add-expense fieldset > div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #989898;
}

label[id$=-error] {
  visibility: visible;
  color: #000;
}

.settings ul#settings a {
  color: #003E6B;
}
.settings ul#settings a.active {
  color: #e28422;
}

label.error {
  width: 100%;
  color: #b70c0c;
}

.customHideShow {
  top: 0 !important;
}

.hideShowPassword-wrapper {
  flex: 1 1 auto;
}

.settings svg {
  position: relative;
  top: 3px;
}

.list-group-item {
  padding: 0.4rem;
}

.limit {
  padding: 1rem;
  background: #e9ecef;
}

.w-100 {
  width: 100%;
}

.form-check label, .form-check input {
  cursor: pointer;
}
.form-check label:hover, .form-check input:hover {
  color: #e28422;
}

/*# sourceMappingURL=style.css.map */
