{% extends "base.html" %}

{% block title %}Strona domowa{% endblock %}
{% block body_class %}bg{% endblock %}

{% block body %}
<div class="container h-100">
    {% include 'Partials/menu-header.html' with {'active': 'menu'} %}
    <main class="menu">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <h1 class="pt-5">Witaj w aplikacji Moje Finanse!</h1>
                    <blockquote class="blockquote text-secondary my-4">
                        <p class="mb-0">Zrobić budżet to wskazać swoim pieniądzom, dokąd mają iść, <br>zamiast się zastanawiać, gdzie się rozeszły.</p>
                        <footer class="blockquote-footer"><cite title="Source Title">John C. Maxwell</cite></footer>
                    </blockquote>
                    <img src="/img/money.jpg" alt="">
                </div>
            </div>
        </div>
    </main>

</div>
{% endblock %}
