{% extends 'base.html' %}

{% block title %}Finansowy bilans{% endblock %}
{% block body_class %}bg{% endblock %}

{% block body %}
<div class="container mb-5">
    {% include 'Partials/menu-header.html' with {'active': 'settings'} %}
    <main class="settings">
        <div class="row p-4">
            <div class="col-12">
                <h1 class="mb-4">
                    <svg width=".8em" height=".8em" viewBox="0 0 16 16" class="bi bi-wrench" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z"/>
                    </svg>
                    Ustawienia
                </h1>

<!--                <ul class="nav nav-tabs" id="settings" role="tablist">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link {% if active_tab == 'income-categories' %} active {% endif %}" id="income-categories-tab" data-toggle="tab" href="#income-categories" role="tab" aria-controls="income-categories" aria-selected="true">Kategorie przychodów</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link {% if active_tab == 'expense-categories' %} active {% endif %}" id="expense-categories-tab" data-toggle="tab" href="#expense-categories" role="tab" aria-controls="expense-categories" aria-selected="false">Kategorie wydatków</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link {% if active_tab == 'payment-methods' %} active {% endif %}" id="payment-methods-tab" data-toggle="tab" href="#payment-methods" role="tab" aria-controls="payment-methods" aria-selected="false">Sposoby płatności</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link {% if active_tab == 'user' %} active {% endif %}" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Użytkownik</a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--                <div class="tab-content" id="settingsContent">-->
<!--                    <div class="tab-pane fade p-3 {% if active_tab == 'income-categories' %} show active {% endif %}" id="income-categories" role="tabpanel" aria-labelledby="income-categories-tab">-->
<!--                        {% include 'Partials/Settings/income-categories.html' %}-->
<!--                    </div>-->

<!--                    <div class="tab-pane fade p-3 {% if active_tab == 'expense-categories' %} show active {% endif %}" id="expense-categories" role="tabpanel" aria-labelledby="expense-categories-tab">-->
<!--                        {% include 'Partials/Settings/expense-categories.html' %}-->
<!--                    </div>-->

<!--                    <div class="tab-pane fade p-3 {% if active_tab == 'payment-methods' %} show active {% endif %}" id="payment-methods" role="tabpanel" aria-labelledby="payment-methods-tab">-->
<!--                        {% include 'Partials/Settings/payment-methods.html' %}-->
<!--                    </div>-->
<!--                    <div class="tab-pane fade p-3 {% if active_tab == 'user' %} show active {% endif %}" id="user" role="tabpanel" aria-labelledby="user-tab">-->
<!--                        {% include 'Partials/Settings/user.html' %}-->
<!--                    </div>-->
<!--                </div>-->


                <ul class="nav nav-tabs" id="settings" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="income-categories-tab" data-toggle="tab" href="#income-categories" role="tab" aria-controls="income-categories" aria-selected="true">Kategorie przychodów</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="expense-categories-tab" data-toggle="tab" href="#expense-categories" role="tab" aria-controls="expense-categories" aria-selected="false">Kategorie wydatków</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="payment-methods-tab" data-toggle="tab" href="#payment-methods" role="tab" aria-controls="payment-methods" aria-selected="false">Sposoby płatności</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Użytkownik</a>
                    </li>

                </ul>
                <div class="tab-content" id="settingsContent">
                    <div class="tab-pane fade p-3" id="income-categories" role="tabpanel" aria-labelledby="income-categories-tab">
                        {% include 'Partials/Settings/income-categories.html' %}
                    </div>

                    <div class="tab-pane fade p-3" id="expense-categories" role="tabpanel" aria-labelledby="expense-categories-tab">
                        {% include 'Partials/Settings/expense-categories.html' %}
                    </div>

                    <div class="tab-pane fade p-3" id="payment-methods" role="tabpanel" aria-labelledby="payment-methods-tab">
                        {% include 'Partials/Settings/payment-methods.html' %}
                    </div>
                    <div class="tab-pane fade p-3" id="user" role="tabpanel" aria-labelledby="user-tab">
                        {% include 'Partials/Settings/user.html' %}
                    </div>
                </div>

            </div>
        </div>

    </main>
</div>
{% endblock %}
{% block footer %}
<script src="/js/app.js"></script>
<script src="/js/hideShowPassword.min.js"></script>
<script>
    $(document).ready(function() {

        let userID = {{ user.id }};

        /**
         * Validate the form
         //  */
        $('#formUserSettings').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: '/account/validate-email',
                        data: {
                            ignore_id: function () {
                                return userID;
                            }
                        }
                    }
                },
                password: {
                    minlength: 6,
                    validPassword: true
                },
            },
            messages: {
                email: {
                    remote: "Istnieje już konto zarejstrowane na podany adres email."
                }
            }
        });

        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus',
            toggle: {
                className: 'btn customHideShow',
                verticalAlign: 'middle',
            },
            states: {
                shown: {
                    toggle: {
                        content: "Ukryj"
                    }
                },
                hidden: {
                    toggle: {
                        content: "Pokaż"
                    }
                }
            }
        });

        // /*
         let url = location.href;

         if(url.includes('userUpdate')) {

             // $('ul.nav-tabs a').removeClass('active');
             $('a#user-tab').addClass('active');

             // $('.tab-pane').removeClass('active');
             $('#user').addClass('show active');

             $('#userModal').modal('show');

         }
         else {
             $('a#income-categories-tab').addClass('active');
             $('#income-categories').addClass('show active');
         }

         // */

    });
</script>
{% endblock %}
