{% extends 'base.html' %}

{% block title %}Dodawanie przychodu{% endblock %}
{% block body_class %}bg{% endblock %}

{% block body %}
<div class="container mb-5">
    {% include 'Partials/menu-header.html' with {'active': 'income'} %}

    <main class="add-income pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
                <h1 class="py-md-5 py-4 text-center">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
                        <path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z"/>
                        <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4h-3.5a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    Dodaj przychód
                </h1>

                {% if income.errors is not empty %}
                <ul class="mb-5 alert alert-danger text-left pl-4">
                    {% for error in income.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <form method="post" action="/add-income/create" id="formAddIncome">
                    <div class="form-group row">
                        <label for="amount" class="col-sm-2 col-form-label">Kwota</label>
                        <div class="col-sm-10">
                            <input type="number"
                                   class="form-control"
                                   id="amount"
                                   name="amount"
                                   placeholder="Wprowadź kwotę np. 12.45"
                                   required
                                   step="0.01"
                                   value="{{income.amount}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date" class="col-sm-2 col-form-label">Data</label>
                        <div class="col-sm-10">
                            <input type="date"
                                   class="form-control"
                                   id="date"
                                   name="date"
                                   required
                                   {% if income.date is not empty %}
                                    value="{{income.date}}"
                                   {% endif %}
                            >
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <legend class="col-form-label text-center">Kategoria</legend>
                        <div class="py-3 pl-5">
                            {% for category in income_categories %}
                             <div class="form-check my-2">
                                <input class="form-check-input"
                                       type="radio"
                                       name="category"
                                       id="{{ category.slug }}"
                                       value="{{ category.id }}">
                                <label class="form-check-label" for="{{ category.slug }}">{{ category.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </fieldset>

                    <input type="hidden" id="fr_income_category" value="{{income.category}}">

                    <div class="form-group">
                        <label for="comment">Komentarz</label>
                        <textarea class="form-control" id="comment" name="comment" rows="4" placeholder="Dodaj komentarz (opcjonalnie)">{{income.comment}}</textarea>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-right">
                            <a class="btn btn-outline-secondary" href="/">Anuluj</a>
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block footer %}
<script src="/js/app.js"></script>
<script>
    // $(document).ready(function() {
    //     $('#formAddIncome').validate({
    //         rules: {
    //             amount: {
    //                 required: true,
    //                 validAmount: true
    //             },
    //             date: {
    //                 required: true,
    //                 validDate: true,
    //             },
    //             category: 'required',
    //
    //         }
    //     });
    // });
</script>
{% endblock %}